*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  
}

:root{
    --Lightgreen: #EFF8F5;
    --white:  #fff;
    --black:  #000;
    --green: #2E7D32;
   --dark-green: #293C36;
   --second-green: #209B6F;
}
.blog{
    background-color: (--Lightgreen);
    align-items: center;
    width: 800px;
    height: 10px;
    margin: 50px auto;
    text-align:inherit;
    margin-left: 150px;
    gap: 20px;

}
    .blog h1{
     font-size: 14px;
    font-weight: bold;
    
    
}


.blog p{
    font-size: 14px;
     margin-left: 120px;
    display: block; 
  line-height: 1; 
  margin-bottom: 20px;
  word-break:keep-all
}